<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='style.css') }}"
    />
  </head>
  <body>
    <form method="POST" onsubmit="search()">
      <input type="text" id="name" name="query" placeholder="Search for the news..." />
      <button onclick="search()">Search</button>
    </form>
    {% for article in articles %}
    <div class="article">
      <div class="article_header">
        <h2>{{ article.title }}</h2>
        <p>{{ article.date }}</p>
      </div>
      <p class="article_source">{{ article.source}}</p>
      <p class="article_content">{{ article.content }}</p>
    </div>
    {% endfor %}-->
  </body>
  <script>
    function search() {
      console.log("");
    }
  </script>
</html>
